# Build results
[Ll]ibrary/
Debug/
Release/

# Visual Studio cache/options directory
.vs/

# Large resources
[Ss]ource/Game/Contents/Texture/*

!*.sln
!External/DirectXTK12/**
!External/Assimp/**
!Source/Game/Contents/Texture/brickwall.dds