# Build results
[Bb]uild/
[Ll]ibrary/
[Ss]ource/Game/x64
[Ss]ource/DX12Library/x64

# Visual Studio cache/options directory
.vs/

# Large resources
[Ss]ource/Game/Contents/Texture/*

!*.sin
!External/DirectXTK12/Library
!External/Assimp/Library
!Source/Game/Contents/Texture/brickwall.dds